{% load staticfiles %}
{% if actu %}
<div id="dialog" class="dialog">
	<div id="logo"><img src="{% static "img/logo-blanc.png" %}" alt="" title="" class="actu"/></div>
	<div id="texte">
		<h1 class="actu">{{ actu.titre|safe }}</h1>
		<p class="dateactu">{{ actu.date|safe }}</p>
		<span class="texteactu"><p class="texteactu">{{ actu.texte|safe }}</p></span>
		<p class="retoursite"><a href="{% url 'oeuvres' %}" class="site">>> [Accéder au site]</a></p>
	</div>
	<div id="image">
		<img src="{{ actu.image.url }}" alt="" title="" class="background"/>
	</div>
</div>
{% endif %}