{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="{% static "css/reset.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
		<script src="{% static "js/vendor/jquery.mousewheel.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
		<script>
		$(document).ready(function() {

			$('html, body, *').mousewheel(function(e, delta) {
				this.scrollLeft -= (delta * 40);
				e.preventDefault();
			});

		});
		</script>
	</head>
	<body>

    {% include "nav.html" %}
       			<li class="langues"><a href="{% url 'biographie' %}" class="">Fr</a>/<a href="#" class="">En</a></li>
		</ul>
	</nav>

	<main class="bio">
	{% for bio in biographie %}
		<section class="">
		<h1>{{ bio.titre }}</h1>
			<article>
				<p>{{ bio.texte }}</p>
			</article>
		</section>
	{% endfor %}
	</main>

	</body>
</html>