<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="css/reset.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<script src="js/jquery-2.1.1.min.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>

	<nav>
		<a href="index.html"><img src="img/logo.png" alt="" title="" class="logo"/></a>
		<div class="menu"><a href="#menu-principal" class="lienvisible"></a></div>
			<ul id="menu-principal" class="menu-principal hide">
				<a href="calendrier.html"><li>calendrier</li></a>
				<a href="biographie.html"><li>biographie</li></a>
				<a href="#oeuvres" class="lienvisible"><li>œuvres</li></a>
					<div id="oeuvres" class="oeuvres hide">
						<ul class="sous-menu-oeuvres">
							<li><a href="oeuvre.html">¬ Adieu et merci</a></li>
							<li><a href="oeuvre.html">¬ Autoarchive</a></li>
							<li><a href="oeuvre.html">¬ La part du rite</a></li>
							<li><a href="oeuvre.html">¬ Ecran somnambule</a></li>
							<li><a href="oeuvre.html">¬ Loredreamsong</a></li>
							<li><a href="oeuvre.html">¬ Histoire par celui qui la raconte</a></li>
							<li><a href="oeuvre.html">¬ Self portrait Camouflage</a></li>
							<li><a href="oeuvre.html">¬ Habiter</a></li>
							<li><a href="oeuvre.html">¬ Love</a></li>
							<li><a href="oeuvre.html">¬ I <em>love</em> like animals</a></li>
						</ul>
					</div>
				<a href="extension-sauvage.html"><li>extension sauvage</li></a>
				<a href="contact.html"><li>contact</li></a>
				<a href="liens.html"><li>liens</li></a>
				<li><a href="#" class="langues">Fr</a>/<a href="#" class="langues">En</a></li>
			</ul>
		</div>
	</nav>

	<main class="calendrier">

		<ul class="sous-menu-annee mobile">
			<li><a href="#">2015</a></li>
			<ul class="sous-menu-mois">
				<li><a href="#">janv. > mars</a></li>
				<li><a href="#">avr. > juin</a></li>
				<li><a href="#">juil. > sept.</a></li>
				<li><a href="#">oct. > déc.</a></li>
			</ul>
			<li><a href="#">2014</a></li>
			<li><a href="#">2013</a></li>
			<li><a href="#">2012</a></li>
		</ul>

		<ul class="dates">
			<li>
				<div class="img-oeuvre">
					<img src="img/oeuvres/adieuetmerci.png" alt="" title="" class="oeuvres-typo"/>
				</div>
				<div class="description">
					<p class="date"><span class="jour">28</span><span class="mois">/JANV</span></p>
					<p class="heure">20h30</p>
					<p class="lieu">Le Vivat,</p>
					<p class="evenement">Scène Conventionnée d'Armentières dans le cadre du <strong>festival Vivat la danse !</strong></p>
					<p class="lien">levivat.net</p>
				</div>
			</li>
			<li>
				<div class="img-oeuvre">
					<img src="img/oeuvres/ecransomnambule.png" alt="" title="" class="oeuvres-typo"/>
				</div>
				<div class="description">
					<p class="date"><span class="jour">6</span><span class="mois">/FEV</span></p>
					<p class="heure">14h30</p>
					<p class="lieu">Université Rennes 2,</p>
					<p class="evenement">Bât. B amphi B4 Lamennais dans le cadre de <strong>Rejouer la performance</strong></p>
					<p class="lien">museedeladanse.org</p>
				</div>
			</li>
			<li>
				<div class="img-oeuvre">
					<img src="img/oeuvres/adieuetmerci.png" alt="" title="" class="oeuvres-typo"/>
				</div>
				<div class="description">
					<p class="date"><span class="jour">28</span><span class="mois">/JANV</span></p>
					<p class="heure">20h30</p>
					<p class="lieu">Le Vivat,</p>
					<p class="evenement">Scène Conventionnée d'Armentières dans le cadre du <strong>festival Vivat la danse !</strong></p>
					<p class="lien">levivat.net</p>
				</div>
			</li>
			<li>
				<div class="img-oeuvre">
					<img src="img/oeuvres/ecransomnambule.png" alt="" title="" class="oeuvres-typo"/>
				</div>
				<div class="description">
					<p class="date"><span class="jour">6</span><span class="mois">/FEV</span></p>
					<p class="heure">14h30</p>
					<p class="lieu">Université Rennes 2,</p>
					<p class="evenement">Bât. B amphi B4 Lamennais dans le cadre de <strong>Rejouer la performance</strong></p>
					<p class="lien">museedeladanse.org</p>
				</div>
			</li>

		</ul>
	</main>

	</body>
</html>