{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="{% static "css/reset.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
	</head>
	<body>

    {% include "nav-en.html" %}
           	<li class="langues"><a href="{% url 'contact' %}" class="">Fr</a> / <a href="#" class="">En</a></li>
		</ul>
	</nav>
	
	<main class="contact">
		<h1>CONTACT</h1>
		{% for contact in contacts %}
		<section class="contact">
			<h2>{{ contact.domaine }}</h2>
			<p>{{ contact.entite }} <em class="nom">{{ contact.nom }}</em></p>
			<p>{{ contact.adresse }}</p>
			<p class="tel">{{ contact.telephone }}</p>
			<p class="mail"><a class="mail" href="mailto:{{ contact.mail }}">{{ contact.mail }}</a></p>
		</section>
		{% endfor %}
		<small>Figure Project est soutenue par le Ministère de la Culture – DRAC
		Bretagne au titre des compagnies conventionnées, le Conseil
		régional de Bretagne et la Ville de Rennes.</small>

	</main>

	</body>
</html>