{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="{% static "css/reset.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
	</head>
	<body>

	<nav>
		<a href="index.html"><img src="{% static "img/logo.png" %}" alt="" title="" class="logo"/></a>
		<div class="menu"><a href="#menu" class=""></a></div>
			<ul class="menu-principal">
				<a href="calendrier.html"><li>calendrier</li></a>
				<a href="biographie.html"><li>biographie</li></a>
				<a href="#oeuvres" class="lienvisible"><li>œuvres</li></a>
					<div id="oeuvres" class="oeuvres hide">
						<ul class="sous-menu-oeuvres">
							<li><a href="oeuvre.html">¬ Adieu et merci</a></li>
							<li><a href="oeuvre.html">¬ Autoarchive</a></li>
							<li><a href="oeuvre.html">¬ La part du rite</a></li>
							<li><a href="oeuvre.html">¬ Ecran somnambule</a></li>
							<li><a href="oeuvre.html">¬ Loredreamsong</a></li>
							<li><a href="oeuvre.html">¬ Histoire par celui qui la raconte</a></li>
							<li><a href="oeuvre.html">¬ Self portrait Camouflage</a></li>
							<li><a href="oeuvre.html">¬ Habiter</a></li>
							<li><a href="oeuvre.html">¬ Love</a></li>
							<li><a href="oeuvre.html">¬ I <em>love</em> like animals</a></li>
						</ul>
					</div>
				<a href="extension-sauvage.html"><li>extension sauvage</li></a>
				<a href="contact.html"><li>contact</li></a>
				<a href="liens.html"><li>liens</li></a>
				<li><a href="#" class="langues">Fr</a>/<a href="#" class="langues">En</a></li>
			</ul>
		</div>
	</nav>
	
	<main class="contact">
		<h1>CONTACT</h1>
		<!--<section class="developpement">
			<h2>Développement / administration générale</h2>
			<p>Figure Project – <em class="nom">Caroline Haigron</em></p>
			<p>Le Garage, 18 rue André et Yvonne Meynier, 35000 Rennes</p>
			<p class="tel">+33 (0)6 42 80 82 50 / +33 (0)2 99 54 38 33</p>
			<p class="mail">contact@figureproject.com</p>
		</section>
		<section class="production">
			<h2>Production / diffusion</h2>
			<p>Latitudes Prod – <em class="nom">Maria-Carmela Mini</em></p>
			<p>58, rue Brûle Maison, 59000 Lille</p>
			<p class="tel">+33 (0)3 20 55 18 62</p>
			<p class="mail">mcmini@latitudescontemporaines.com</p>
		</section>
		<p><small>Figure Project est soutenue par le Ministère de la Culture – DRAC
		Bretagne au titre des compagnies conventionnées, le Conseil
		régional de Bretagne et la Ville de Rennes.</small></p>-->

	</main>

	</body>
</html>