<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="css/reset.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<script src="js/jquery-2.1.1.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/vendor/scroll-converter.js"></script>
		<script src="js/vendor/scroll.js"></script>
	</head>
	<body>

	<nav>
		<a href="index.html"><img src="img/logo.png" alt="" title="" class="logo"/></a>
		<div class="menu"><a href="#menu" class=""></a></div>
			<ul class="menu-principal">
				<a href="calendrier.html"><li>calendrier</li></a>
				<a href="biographie.html"><li>biographie</li></a>
				<a href="#oeuvres" class="lienvisible"><li>œuvres</li></a>
					<div id="oeuvres" class="oeuvres hide">
						<ul class="sous-menu-oeuvres">
							<li><a href="oeuvre.html">¬ Adieu et merci</a></li>
							<li><a href="oeuvre.html">¬ Autoarchive</a></li>
							<li><a href="oeuvre.html">¬ La part du rite</a></li>
							<li><a href="oeuvre.html">¬ Ecran somnambule</a></li>
							<li><a href="oeuvre.html">¬ Loredreamsong</a></li>
							<li><a href="oeuvre.html">¬ Histoire par celui qui la raconte</a></li>
							<li><a href="oeuvre.html">¬ Self portrait Camouflage</a></li>
							<li><a href="oeuvre.html">¬ Habiter</a></li>
							<li><a href="oeuvre.html">¬ Love</a></li>
							<li><a href="oeuvre.html">¬ I <em>love</em> like animals</a></li>
						</ul>
					</div>
				<a href="extension-sauvage.html"><li>extension sauvage</li></a>
				<a href="contact.html"><li>contact</li></a>
				<a href="liens.html"><li>liens</li></a>
				<li><a href="#" class="langues">Fr</a>/<a href="#" class="langues">En</a></li>
			</ul>
		</div>
	</nav>

	<main class="extension">
		<img src="img/extensionsauvageB.png" alt="" title="" class="oeuvre-max mobile"/>
		<img src="img/extensionsauvage-desk.png" alt="" title="" class="oeuvre-max desk"/>
		<section class="note">
			<p>
				Extension sauvage est une aventure
				chorégraphique en milieu rural qui se décline sous la
				forme d’un programme pédagogique pour enfants et
				adultes, et d’un festival à
				Combourg et dans les jardins du Château de la Ballue à
				Bazouges-la-Pérouse. Entamée en novembre 2010, elle
				est pensée sur trois ans et spécifiquement pour un
				territoire allant de
				Combourg à Bazouges-la-Pérouse, en Ile-et-Vilaine. Porté par l’association Figure Project, la direction artistique de ce programme est
				assurée par Latifa Laâbissi. Extension sauvage a pour
				ambition d’être à la fois généreux et
				innovant, exigeant et jubilatoire.
			</p>
			<p class="info">
				+ d'infos: www.extensionsauvage.com
			</p>
		</section>
		<section class="galerie">
			<img src="img/extensionsauvageS2.png" alt="" title="" class="oeuvre-mini"/>
			<img src="img/extensionsauvageS1.png" alt="" title="" class="oeuvre-mini"/>
		</section>
	</main>

	</body>
</html>