{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="{% static "css/reset.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<link href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
		<link href="{% static "css/jquery.mCustomScrollbar.css" %}" rel="stylesheet" media="all" />
		<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
		<script src="{% static "js/vendor/jquery.mousewheel.min.js" %}"></script>
		<script src="{% static "js/vendor/jquery.mCustomScrollbar.concat.min.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
	</head>
	<body>

    {% include "nav.html" %}

	<main class="extension">
		<img src="{{ extsauvage.image_titre_mobile.url }}" alt="" title="" class="oeuvre-max mobile"/>
		<img src="{{ extsauvage.image_titre_desktop.url }}" alt="" title="" class="oeuvre-max desk"/>
		<section class="note">
			<p>
			{{ extsauvage.note }}
			</p>
			<p class="info">
			{{ extsauvage.info }}
			</p>
		</section>
		<section class="galerie">
		{% for image in i_es %}
			<img src="{{ image.image.url }}" alt="" title="" class="oeuvre-mini"/>
		{% endfor %}
		</section>
	</main>

	</body>
</html>