{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="{% static "css/reset.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
		<script src="{% static "js/vendor/jquery.mousewheel.js" %}"></script>
		<script>
		$(document).ready(function() {

			$('html, body, *').mousewheel(function(e, delta) {
				this.scrollLeft -= (delta * 40);
				e.preventDefault();
			});

		});
		</script>
	</head>
	<body>

	<nav>
		<a href="index.html" class="retour"><img src="{% static "img/logo.png" %}" alt="" title="" class="logo"/></a>
		<div class="menu"><a href="#menu-principal" class="lienvisible"></a></div>
			<ul id="menu-principal" class="menu-principal hide">
				<a href="calendrier.html"><li>calendrier</li></a>
				<a href="biographie.html"><li>biographie</li></a>
				<a href="#oeuvres" class="lienvisible"><li>œuvres</li></a>
					<div id="oeuvres" class="oeuvres hide">
						<ul class="sous-menu-oeuvres">
							{% for oeuvre in oeuvres %}
							<li><a href="{{ oeuvre.get_absolute_url }}">¬ {{ oeuvre.titre_oeuvre }}</a></li>
							{% endfor %}
							<!-- em encadrant le mot love pour l'oeuvre i love like animals -->
						</ul>
					</div>
				<a href="extension-sauvage.html"><li>extension sauvage</li></a>
				<a href="contact.html"><li>contact</li></a>
				<a href="liens.html"><li>liens</li></a>
			</ul>
			<!--<p><a href="#" class="langues">Fr</a>/<a href="#" class="langues">En</a></p>-->
		</div>
	</nav>

	<main class="oeuvres">
		<!-- oeuvres en photo pour mobile et tablette -->
		<ul class="oeuvres-photo">
			{% for oeuvre in oeuvres %}
				<li>
				<a href="{{ oeuvre.get_absolute_url }}">
				<img src="{{ oeuvre.image_titre.url }}" alt="{{ oeuvre.titre_oeuvre }}" class="oeuvres-max"/></a>
				</li>
			{% endfor %}
		</ul>
		<!-- oeuvres en typo pour desktop -->
		<ul class="oeuvres-typo">
			{% for oeuvre in oeuvres %}
				<li>
				<a href="{{ oeuvre.get_absolute_url }}">
				<img src="{{ oeuvre.typo_titre.url }}" alt="{{ oeuvre.titre_oeuvre }}" class="oeuvres-max"/></a>
				</li>
			{% endfor %}
		</ul>
	</main>

	</body>
</html>