<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="css/reset.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<script src="js/jquery-2.1.1.min.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>

	<nav>
		<a href="index.html"><img src="img/logo.png" alt="" title="" class="logo"/></a>
		<div class="menu"><a href="#menu" class=""></a></div>
			<ul class="menu-principal">
				<a href="calendrier.html"><li>calendrier</li></a>
				<a href="biographie.html"><li>biographie</li></a>
				<a href="#oeuvres" class="lienvisible"><li>œuvres</li></a>
					<div id="oeuvres" class="oeuvres hide">
						<ul class="sous-menu-oeuvres">
							<li><a href="oeuvre.html">¬ Adieu et merci</a></li>
							<li><a href="oeuvre.html">¬ Autoarchive</a></li>
							<li><a href="oeuvre.html">¬ La part du rite</a></li>
							<li><a href="oeuvre.html">¬ Ecran somnambule</a></li>
							<li><a href="oeuvre.html">¬ Loredreamsong</a></li>
							<li><a href="oeuvre.html">¬ Histoire par celui qui la raconte</a></li>
							<li><a href="oeuvre.html">¬ Self portrait Camouflage</a></li>
							<li><a href="oeuvre.html">¬ Habiter</a></li>
							<li><a href="oeuvre.html">¬ Love</a></li>
							<li><a href="oeuvre.html">¬ I <em>love</em> like animals</a></li>
						</ul>
					</div>
				<a href="extension-sauvage.html"><li>extension sauvage</li></a>
				<a href="contact.html"><li>contact</li></a>
				<a href="liens.html"><li>liens</li></a>
				<li><a href="#" class="langues">Fr</a>/<a href="#" class="langues">En</a></li>
			</ul>
		</div>
	</nav>
	
	<main class="liens">

		<h1>liens</h1>

		<a href="#partenaires-cult" class="lienvisible"><h2>partenaires culturels</h2></a>
		<div id="partenaires-cult" class="partenaires-cult hide">

			<p>Centre chorégraphique national de Montpellier – Languedoc-Roussillon</p>
			<p class="contact">contact@mathildemonnier.com</p>
			<p class="site">http://www.mathildemonnier.com</p>

			<p>Centre national de danse contemporaine Angers</p>
			<p class="contact">contact@cndc.fr</p>
			<p class="site">http://www.cndc.fr</p>

			<p>Centre Pompidou – Beaubourg</p>
			<p class="site">http://www.centrepompidou.fr</p>

			<p>La Criée – centre d’art contemporain – Rennes</p>
			<p class="site">http://www.criee.org</p>

			<p>Les Laboratoires d’Aubervilliers</p>
			<p class="contact">info@leslaboratoires.org</p>

			<p>Musée de la danse / Centre Chorégraphique National de Rennes et de Bretagne</p>
			<p class="site">http://www.ccnrb.org</p>

			<p>Bétonsalon</p>
			<p class="site">http://www.betonsalon.net</p>

		</div>

		<a href="#partenaires-educ" class="lienvisible"><h2>partenaires éducatifs</h2></a>
		<div id="partenaires-educ" class="partenaires-educ hide">

		<p>Arts Vivants en Ille et Vilaine</p>
		<p class="site">http://www.addm35.org</p>

		<p>Le Cifas</p>
		<p class="site">http://www.cifas.be</p>

		</div>


		<a href="#artistes" class="lienvisible"><h2>artistes</h2></a>
		<div id="artistes" class="artistes hide">

		<p>Nadia Lauro</p>
		<p class="site">http://www.nadialauro.com</p>

		<p>Alain Buffard</p>
		<p class="site">http://www.alainbuffard.eu</p>

		<p>Robert Steijn et Frans Poelstra</p>
		<p class="site">http://www.unitedsorry.com</p>

		<p>Thomas Lacoste</p>
		<p class="site">http://www.lautrecampagne.org</p>

		<p>Yves-Noël Genod</p>
		<p class="site">http://ledispariteur.blogspot.com</p>

		<p>Jocelyn Cottencin</p>
		<p class="site">http://www.jocelyncottencin.com</p>

		<p>Julien Jeanne</p>
		<p class="site">http://julienjeanne.blogspot.com</p>

		<p>Maria La Ribot</p>
		<p class="site">http://www.laribot.com</p>

		<p>Xavier Le Roy</p>
		<p class="site">http://www.insituproductions.net</p>

		<p>Robyn Orlin</p>
		<p class="site">http://www.robynorlin.com</p>

		</div>


		<a href="#liens-utiles" class="lienvisible"><h2>liens utiles</h2></a>
		<div id="liens-utiles" class="liens-utiles hide">

		<p>CND – centre national de la danse</p>
		<p class="contact">métiers@cnd.fr</p>
		<p class="site">http://www.cnd.fr</p>

		<p>Syndicat national des entreprises artistiques et culturelles</p>
		<p class="site">http://www.syndeac.org</p>

		</div>


	</main>

	</body>
</html>