{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="{% static "css/reset.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<link href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
		<link href="{% static "css/jquery.mCustomScrollbar.css" %}" rel="stylesheet" media="all" />
		<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
		<script src="{% static "js/vendor/jquery.mousewheel.min.js" %}"></script>
		<script src="{% static "js/vendor/jquery.mCustomScrollbar.concat.min.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
	</head>
	<body>

	<nav>
		<a href="index.html"><img src="{% static "img/logo.png" %}" alt="" title="" class="logo"/></a>
		<div class="menu"><a href="#menu" class=""></a></div>
			<ul class="menu-principal">
				<a href="calendrier.html"><li>calendrier</li></a>
				<a href="biographie.html"><li>biographie</li></a>
				<a href="#oeuvres" class="lienvisible"><li>œuvres</li></a>
					<div id="oeuvres" class="oeuvres hide">
						<ul class="sous-menu-oeuvres">
							<li><a href="oeuvre.html">¬ Adieu et merci</a></li>
							<li><a href="oeuvre.html">¬ Autoarchive</a></li>
							<li><a href="oeuvre.html">¬ La part du rite</a></li>
							<li><a href="oeuvre.html">¬ Ecran somnambule</a></li>
							<li><a href="oeuvre.html">¬ Loredreamsong</a></li>
							<li><a href="oeuvre.html">¬ Histoire par celui qui la raconte</a></li>
							<li><a href="oeuvre.html">¬ Self portrait Camouflage</a></li>
							<li><a href="oeuvre.html">¬ Habiter</a></li>
							<li><a href="oeuvre.html">¬ Love</a></li>
							<li><a href="oeuvre.html">¬ I <em>love</em> like animals</a></li>
						</ul>
					</div>
				<a href="extension-sauvage.html"><li>extension sauvage</li></a>
				<a href="contact.html"><li>contact</li></a>
				<a href="liens.html"><li>liens</li></a>
				<li><a href="#" class="langues">Fr</a>/<a href="#" class="langues">En</a></li>
			</ul>
		</div>
	</nav>
	
	<main class="liens">

		<h1>liens</h1>
			<a href="#partenaires-cult" class="lienvisible"><h2>partenaires culturels</h2></a>
			<div id="partenaires-cult" class="partenaires-cult hide">
			{% for lien_partcult in liens_partcult %}
				<p>{{ lien_partcult.nom }}</p>
				<p class="contact">{{ lien_partcult.mail }}</p>
				<p class="site"><a href="{{ lien_partcult.url }}" target="_blank" />{{ lien_partcult.url }}</a></p>
			{% endfor %}
			</div>
			<a href="#partenaires-educ" class="lienvisible"><h2>partenaires éducatifs</h2></a>
			<div id="partenaires-educ" class="partenaires-educ hide">
			{% for lien_parteduc in liens_parteduc %}
				<p>{{ lien_parteduc.nom }}</p>
				<p class="contact">{{ lien_parteduc.mail }}</p>
				<p class="site"><a href="{{ lien_parteduc.url }}" target="_blank" />{{ lien_parteduc.url }}</a></p>
			{% endfor %}
			</div>
			<a href="#artistes" class="lienvisible"><h2>artistes</h2></a>
			<div id="artistes" class="artistes hide">
			{% for lien_artiste in liens_artistes %}
				<p>{{ lien_artiste.nom }}</p>
				<p class="contact">{{ lien_artiste.mail }}</p>
				<p class="site"><a href="{{ lien_parteduc.url }}" target="_blank" />{{ lien_artiste.url }}</a></p>
			{% endfor %}
			</div>
			<a href="#liens-utiles" class="lienvisible"><h2>liens utiles</h2></a>
			<div id="liens-utiles" class="liens-utiles hide">
			{% for lien_utile in liens_utiles %}
				<p>{{ lien_utile.nom }}</p>
				<p class="contact">{{ lien_utile.mail }}</p>
				<p class="site"><a href="{{ lien_utile.url }}" target="_blank" />{{ lien_utile.url }}</a></p>
			{% endfor %}
			</div>

	</main>
	</body>
</html>