{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="{% static "css/reset.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<link href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
		<link href="{% static "css/jquery.mCustomScrollbar.css" %}" rel="stylesheet" media="all" />
		<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
		<script src="{% static "js/vendor/jquery.mousewheel.min.js" %}"></script>
		<script src="{% static "js/vendor/jquery.mCustomScrollbar.concat.min.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
	</head>
	<body>

    {% include "nav.html" %}
       			<li class="langues"><a href="#" class="">Fr</a>/<a href="{% url 'links' %}" class="">En</a></li>
		</ul>
	</nav>
	
	<main class="liens">

		<h1>liens</h1>
			<a href="#partenaires-cult" class="lienvisible"><h2>partenaires culturels</h2></a>
			<div id="partenaires-cult" class="partenaires-cult hide">
			{% for lien_partcult in liens_partcult %}
				<p>{{ lien_partcult.nom }}</p>
				<p class="contact">{{ lien_partcult.mail }}</p>
				<p class="site"><a href="{{ lien_partcult.url }}" target="_blank" />{{ lien_partcult.url }}</a></p>
			{% endfor %}
			</div>
			<a href="#partenaires-educ" class="lienvisible"><h2>partenaires éducatifs</h2></a>
			<div id="partenaires-educ" class="partenaires-educ hide">
			{% for lien_parteduc in liens_parteduc %}
				<p>{{ lien_parteduc.nom }}</p>
				<p class="contact">{{ lien_parteduc.mail }}</p>
				<p class="site"><a href="{{ lien_parteduc.url }}" target="_blank" />{{ lien_parteduc.url }}</a></p>
			{% endfor %}
			</div>
			<a href="#artistes" class="lienvisible"><h2>artistes</h2></a>
			<div id="artistes" class="artistes hide">
			{% for lien_artiste in liens_artistes %}
				<p>{{ lien_artiste.nom }}</p>
				<p class="contact">{{ lien_artiste.mail }}</p>
				<p class="site"><a href="{{ lien_parteduc.url }}" target="_blank" />{{ lien_artiste.url }}</a></p>
			{% endfor %}
			</div>
			<a href="#liens-utiles" class="lienvisible"><h2>liens utiles</h2></a>
			<div id="liens-utiles" class="liens-utiles hide">
			{% for lien_utile in liens_utiles %}
				<p>{{ lien_utile.nom }}</p>
				<p class="contact">{{ lien_utile.mail }}</p>
				<p class="site"><a href="{{ lien_utile.url }}" target="_blank" />{{ lien_utile.url }}</a></p>
			{% endfor %}
			</div>

	</main>
	</body>
</html>