{% load staticfiles %}
<nav>
		<a href="{% url 'works' %}" class="retour"><img src="{% static "img/logo.png" %}" alt="" title="" class="logo"/></a>
		<div class="menu"><a href="#menu-principal" class="lienvisible"></a></div>
			<ul id="menu-principal" class="menu-principal hide">
				<li>{% url 'calendar' as calendar_url %}<a href="{{ calendar_url }}" class="{% if calendar_url in request.path %} active_link {% endif %} calendriermenu">calendar</a></li>
					<div id="calendrier" class="calendrier {% if calendrier_url in request.path %} active {% endif %}">
						<ul class="sous-menu-annee mobile">
						{% regroup calendriers_menu by date.year as calendrier_list %}
						{% for calendrier_group in calendrier_list %}
							<li>{% url 'calendrier' calendrier_group.grouper as annee_url %}<a href="{{ annee_url }}" class="{% if annee_url == request.path %} active_link {% endif %}">{{ calendrier_group.grouper }}</a></li>
								<div id="annee" class="{% if calendrier_url in request.path %} active {% endif %} {% if annee_url != request.path %} cachou {% endif %} annee hide">
									<ul class="sous-menu-mois">
										<li><a href="{% url 'calendrier' calendrier_group.grouper 1 %}">janv. > mars</a></li>
										<li><a href="{% url 'calendrier' calendrier_group.grouper 2 %}">avr. > juin</a></li>
										<li><a href="{% url 'calendrier' calendrier_group.grouper 3 %}">juil. > sept.</a></li>
										<li><a href="{% url 'calendrier' calendrier_group.grouper 4 %}">oct. > déc.</a></li>
									</ul>
								</div>
						{% endfor %}
						</ul>
					</div>
				<li>{% url 'biography' as biography_url %}<a href="{{ biography_url }}" class="{% if biography_url == request.path %} active_link {% endif %}">biography</a></li>
				<li>{% url 'works' as works_url %}{% url 'work' as work_url %}<a href="{{ works_url }}" class="{% if works_url == request.path or work_url in request.path %} active_link {% endif %} oeuvresmenu">works</a></li>
					<div id="oeuvres" class="{% if works_url == request.path or work_url in request.path %} active {% endif %} oeuvres hide">
						<ul class="sous-menu-oeuvres">
							{% for oeuvre in oeuvres %}
							<li><a href="{{ oeuvre.get_absolute_url }}" class="{% if oeuvre.get_absolute_url == request.path %} active_link {% endif %}">¬ {{ oeuvre.titre_oeuvre|safe }}</a></li>
							{% endfor %}
						</ul>
					</div>
				<li>{% url 'extensionsauvageen' as extensionsauvageen_url%}<a href="{{ extensionsauvageen_url }}" class="{% if extensionsauvageen_url == request.path %} active_link {% endif %}">extension sauvage </a></li>
				<li>{% url 'contacten' as contacten_url %}<a href="{{ contacten_url }}" class="{% if contacten_url == request.path %} active_link {% endif %}">contact</a></li>
				<li>{% url 'links' as links_url %}<a href="{{ links_url }}" class="{% if links_url == request.path %} active_link {% endif %}">links</a></li>