{% load staticfiles %}
<nav>
		<a href="{% url 'works' %}" class="retour"><img src="{% static "img/logo.png" %}" alt="" title="" class="logo"/></a>
		<div class="menu"><a href="#menu-principal" class="lienvisible"></a></div>
			<ul id="menu-principal" class="menu-principal hide">
				<li><a href="{% url 'calendar' %}" class="lienvisible">calendar</a></li>
					<div id="calendrier" class="calendrier hide">
					<ul class="sous-menu-annee mobile">
						<li><a href="#">2015</a></li>
						<ul class="sous-menu-mois">
							<li><a href="#">janv. > mars</a></li>
							<li><a href="#">avr. > juin</a></li>
							<li><a href="#">juil. > sept.</a></li>
							<li><a href="#">oct. > déc.</a></li>
						</ul>
						<li><a href="#">2014</a></li>
						<li><a href="#">2013</a></li>
						<li><a href="#">2012</a></li>
					</ul>
					</div>
				<li><a href="{% url 'biography' %}">biography</a></li>
				<li><a href="{% url 'works' %}" class="lienvisible">works</a></li>
					<div id="oeuvres" class="oeuvres hide">
						<ul class="sous-menu-oeuvres">
							{% for oeuvre in oeuvres %}
							<li><a href="{{ oeuvre.get_absolute_url }}">¬ {{ oeuvre.titre_oeuvre }}</a></li>
							{% endfor %}
							<!-- em encadrant le mot love pour l'oeuvre i love like animals -->
						</ul>
					</div>
				<li><a href="{% url 'extensionsauvageen' %}">extension sauvage</a></li>
				<li><a href="{% url 'contacten' %}">contact</a></li>
				<li><a href="{% url 'links' %}">links</a></li>