{% load staticfiles %}
<nav>
		<a href="index.html" class="retour"><img src="{% static "img/logo.png" %}" alt="" title="" class="logo"/></a>
		<div class="menu"><a href="#menu-principal" class="lienvisible"></a></div>
			<ul id="menu-principal" class="menu-principal hide">
			
				<a href="{% url 'calendrier' %}"><li>calendrier</li></a>
				<a href="{% url 'biographie' %}"><li>biographie</li></a>
				<a href="{% url 'oeuvres' %}" class="lienvisible"><li>œuvres</li></a>
					<div id="oeuvres" class="oeuvres hide">
						<ul class="sous-menu-oeuvres">
							{% for oeuvre in oeuvres %}
							<li><a href="{{ oeuvre.get_absolute_url }}">¬ {{ oeuvre.titre_oeuvre }}</a></li>
							{% endfor %}
							<!-- em encadrant le mot love pour l'oeuvre i love like animals -->
						</ul>
					</div>
				<a href="{% url 'extensionsauvage' %}"><li>extension sauvage</li></a>
				<a href="{% url 'contact' %}"><li>contact</li></a>
				<a href="{% url 'liens' %}"><li>liens</li></a>
			</ul>
			<!--<p><a href="#" class="langues">Fr</a>/<a href="#" class="langues">En</a></p>-->
		</div>
	</nav>
