{% load staticfiles %}
<nav>
		<a href="{% url 'oeuvres' %}" class="retour"><img src="{% static "img/logo.png" %}" alt="" title="" class="logo"/></a>
		<div class="menu"><a href="#menu-principal" class="lienvisible"></a></div>
			<ul id="menu-principal" class="menu-principal hide">
				<li><a href="{% url 'calendrier' %}" data-actif="" class="calendriermenu lienvisible">calendrier</a></li>
					<div id="calendrier" class="calendrier hide">
						<ul class="sous-menu-annee mobile">
						{% regroup calendriers_menu by date.year as calendrier_list %}
						{% for calendrier_group in calendrier_list %}
							<li><a href="#">{{ calendrier_group.grouper }}</a></li>
								<ul class="sous-menu-mois">
									<li><a href="#">janv. > mars</a></li>
									<li><a href="#">avr. > juin</a></li>
									<li><a href="#">juil. > sept.</a></li>
									<li><a href="#">oct. > déc.</a></li>
								</ul>
						{% endfor %}
						</ul>
					</div>
				<li><a href="{% url 'biographie' %}">biographie</a></li>
				<li><a href="{% url 'oeuvres' %}" class="lienvisible oeuvresmenu">œuvres</a></li>
					<div id="oeuvres" class="oeuvres hide">
						<ul class="sous-menu-oeuvres">
							{% for oeuvre in oeuvres %}
							<li><a href="{{ oeuvre.get_absolute_url }}">¬ {{ oeuvre.titre_oeuvre }}</a></li>
							{% endfor %}
							<!-- em encadrant le mot love pour l'oeuvre i love like animals -->
						</ul>
					</div>
				<li><a href="{% url 'extensionsauvage' %}">extension sauvage</a></li>
				<li><a href="{% url 'contact' %}">contact</a></li>
				<li><a href="{% url 'liens' %}">liens</a></li>

