{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="{% static "css/reset.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<link href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
		<link href="{% static "css/jquery.mCustomScrollbar.css" %}" rel="stylesheet" media="all" />
		<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
		<script src="{% static "js/vendor/jquery.mousewheel.min.js" %}"></script>
		<script src="{% static "js/vendor/jquery.mCustomScrollbar.concat.min.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
	</head>
	<body>

    {% include "nav-en.html" %}
   			<li class="langues"><a href="{% url 'oeuvres' %}" class="">Fr</a> / <a href="#" class="">En</a></li>
		</ul>
	</nav>

	<main class="oeuvre">
		<img src="{{ oeuvre.image_titre.url }}" alt="{{ oeuvre.titre_oeuvre }}" title="" class="oeuvre-max" />
		<div class="presentation">
		<h1>{{ oeuvre.titre_oeuvre }}</h1>
		<p class="prec-suiv"> <a href="#"><</a> <a href="#">></a> </p>
			<section class="note inline">
			<!-- ouvert par défaut en desktop avec disparition du titre -->
				<a href="#note" class="lienvisible"><h2>presentation</h2></a>
				<div id="note" class="note hide">
					<p>{{ oeuvre.note|safe }}</p>
				</div>
			</section>
			</div>
			<div class="sous-menu">
			<section class="distribution inline">
				<a href="#distribution" class="lienvisible"><h2>distribution</h2></a>
				<div id="distribution" class="distribution hide">
					<ul>
						{{ oeuvre.distribution|safe }}
					</ul>
				</div>
			</section>
			<section class="mentions inline">
				<a href="#mentions" class="lienvisible"><h2>mentions</h2></a>
				<div id="mentions" class="mentions hide">
					<ul>
						{{ oeuvre.mentions|safe }}
					</ul>
				</div>
			</section>
			<section class="diffusion inline">
			<!-- ouvert par défaut en mobile -->
				<a href="#diffusion" class="lienvisible"><h2>diffusion</h2></a>
				<div id="diffusion" class="diffusion hide">
				{% for date in dates %}
					<p class="date">} {{ date.date|date:"d F Y" }}</p>
					<p class="lieu">{{ date.lieu }}</p>
					<p class="evenement">{{ date.cadre }}</p>
				{% endfor %}
				</div>
			</section>
			</div>
			<section class="galerie">
			{% for image in img_oeuvre %}
				<img src="{{ image.image.url }}" alt="" title="" class="oeuvre-mini"/>
			{% endfor %}
			</section>
		</div>
	</main>

	</body>
</html>