{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
	<head>
	  	<meta charset="UTF-8">
		<title>Figure project</title>
		<meta name="description" content="">
      	<meta name="author" content="">
      	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="{% static "css/reset.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
		<script src="{% static "js/vendor/jquery.mousewheel.js" %}"></script>
		<script>
		$(document).ready(function() {

			$('html, body, *').mousewheel(function(e, delta) {
				this.scrollLeft -= (delta * 40);
				e.preventDefault();
			});

		});
		</script>
	</head>
	<body>

    {% include "nav-en.html" %}
           		<li class="langues"><a href="{% url 'oeuvres' %}" class="">Fr</a>/<a href="#" class="">En</a></li>
		</ul>
	</nav>
	
	<main class="oeuvres">
		<!-- oeuvres en photo pour mobile et tablette -->
		<ul class="oeuvres-photo">
			{% for oeuvre in oeuvres %}
				<li>
				<a href="{{ oeuvre.get_absolute_url }}">
				<img src="{{ oeuvre.image_titre.url }}" alt="{{ oeuvre.titre_oeuvre }}" class="oeuvres-max"/></a>
				</li>
			{% endfor %}
		</ul>
		<!-- oeuvres en typo pour desktop -->
		<ul class="oeuvres-typo">
			{% for oeuvre in oeuvres %}
				<li>
				<a href="{{ oeuvre.get_absolute_url }}">
				<img src="{{ oeuvre.typo_titre.url }}" alt="{{ oeuvre.titre_oeuvre }}" class="oeuvres-max"/></a>
				</li>
			{% endfor %}
		</ul>
	</main>

	</body>
</html>